

.w360{width:360px;}
.w330{width:360px;}
.w206{width:206px;}
.w103 {width:103px;}
.w112 {width:112px;}
.w162 {width:162px;}
.w198 {
	width:198px;
}
.w290{
	width:290px;
}
.block-center {
	margin-left:auto;
	margin-right:auto;
}
.pt20{padding-top: 20px}
.pb20{padding-bottom: 20px}
.pl35 {
	padding-left: 35px;
}
.mt30 {
	margin-top: 30px;
}
.mb30 {
	margin-bottom: 30px;
}
//tab
i {
	font-style:normal;
}
.c999 {
	color:#999;
}
.f12 {
	font-size:12px;
}
.mb20{margin-bottom: 20px;}
.orange{
	color:#ff8a00;
}
.blue {
	color:$color-blue;
}
.bold {
	font-weight:bold;
}
/*btnhq*/
.btnhq {
	display:inline-block;
	width:128px;height:32px;
	line-height:32px;font-size:14px;
	color:$color-primary;text-align:center;
	border-radius:2px;    margin: 0 12px;

}
.btn-green{
	width:290px;padding:0;border:0;
	height:32px;line-height:32px;border-radius:2px;
	background-color:$color-primary;
	color:#fff;font-size:14px;text-align:center;
}
.btn-border {
	border:2px solid $color-primary;
	line-height:28px;
}
.btn-next {
	border-color:#ccc;
	color:$color-blue;
}
.btn-error {
	border-color:#ccc;
	color:#ccc;
	&:hover {
		color:#ccc;
	}
}
/*btnhq*/
.btn-group {
	text-align:center;
	width:100%;
}
.input-text {
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  height: 30px;
  line-height: 30px;
  border-radius:1px;
  color:#333;
}
.form-horizontal .form-group {
	margin:0;
	margin-bottom:20px;
}
.error-msg {
	width:290px;
	height:32px;line-height:32px;
	background-color:$color-tips;
	color:#fff;    padding: 0 12px;
	border-radius:3px;
}

// chrome fix input
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px white inset;
}


