//! user icons

/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.uicon { background-image: url(#{$image-url}user/uicon.png); background-repeat: no-repeat; }

.uicon-uicon01 { background-position: 0 0; }

.uicon-uicon02 { background-position: 0 -32px; }

.uicon-uicon03 { background-position: 0 -224px; }

.uicon-uicon04 { background-position: 0 -242px; }

.uicon-uicon05 { background-position: 0 -274px; }

.uicon-uicon06 { background-position: 0 -292px; }

.uicon-uicon07 { background-position: 0 -324px; }

.uicon-uicon08 { background-position: 0 -344px; }

.uicon-uicon09 { background-position: 0 -376px; }

.uicon-uicon10 { background-position: 0 -396px; }

.uicon-uicon11 { background-position: 0 -429px; }

.uicon-uicon12 { background-position: 0 -455px; }

.uicon-uicon13 { background-position: 0 -481px; }

.uicon-uicon14 { background-position: 0 -509px; }

.uicon-uicon15 { background-position: 0 -537px; }

.uicon-uicon16 { background-position: 0 -633px; }

.uicon-uicon17 { background-position: 0 -676px; }

.uicon-uicon18 { background-position: 0 -772px; }

.uicon-uicon19 { background-position: 0 -815px; }

.uicon-uicon20 { background-position: 0 -833px; }

.uicon-uicon21 { background-position: 0 -866px; }

.uicon-uicon22 { background-position: 0 -888px; }

.uicon-uicon23 { background-position: 0 -918px; }

.uicon-uicon24 { background-position: 0 -948px; }

.uicon-uicon25 { background-position: 0 -969px; }
