@import "compass/css3";
// model pay
@import "valiable";
@import "common";

@import "steps";
@import "form";

.right_box {
	border:1px solid #eee;min-height: 518px;
}
.mod-right-head {
	height:36px;
	line-height:36px;
	background:#f4f4f4;
	padding-left: 15px;
	color:$color-gray-note;font-weight:bold;
}
.form-box {
	margin:70px auto 35px;font-size:12px;color:$color-gray-note;
}


